html, body {
    height: 100%;
}

body {
    font-size: medium;
    background-color: #b8ffa3;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    background-color: antiquewhite;
    min-height: 90%;
    height: 93%;
}